<!DOCTYPE html>

<html>

   <head>
      <title>Exercise Tracker</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="public/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <div class="container">
      <form action="api/fileanalyse" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label class="form-control-label">Please Upload a File...</label>
          <input class="form-control" type="file" name="upfile">
          <button class="btn btn-success mt-1">Upload</button>
        </div>
      </form>
    </div>
     
     
   </body>


</html>